{% extends 'base_compact.html' %}

{% block main_content %}
<main class="user">
    <section>
        <h1>Credits</h1>
        <h2>analogStudios_</h2>
        <p>Character Sprites, weapons and items have been taken and adapted from analogStudios_</p>
        <p>Here is a link to their site on itch.io: <a href="https://analogstudios.itch.io/">analogStudios_ Website</a></p>
        <h2>aamatniekss</h2>
        <p>Background sprites have been made by aamatniekss</p>
        <p>Link to their website on itch.io: <a href="https://aamatniekss.itch.io/topdown-fantasy-forest">aamatniekss website</a></p>
        <h2>Pixelorama</h2>
        <p>Pixelorama is a tool I have used for adapting pixel art</p>
        <p>Link to the tool: <a href="https://orama-interactive.itch.io/pixelorama">Pixelorama link</a></p>
        <h2>Leohpaz</h2>
        <p>Sound effects used in the game have been taken from the free sample of their <a href="https://leohpaz.itch.io/minifantasy-dungeon-sfx-pack">Dungeon Audio pack</a></p>
        <p>Their website can be visited through <a href="https://leohpaz.itch.io/">here</a></p>
        <h2></h2>
        <p>Soundtrack was made by <a href=""></a></p>
        <p></p>
    </section>
</main>
{% endblock %}